<?xml version="1.0"?>
<launch>
  <arg name="group_name"      default="manipulator"/>
  <arg name="ee_link"         default="iiwa_link_ee"/>
  <arg name="cloud_topic"     default="/cloud_with_normals"/>
  <arg name="clicked_topic"   default="/clicked_point"/>
  <arg name="N"               default="60"/>
  <arg name="backoff"         default="0.010"/>
  <arg name="approach_offset" default="0.060"/>
  <arg name="eef_step"        default="0.003"/>
  <arg name="jump_threshold"  default="0.0"/>
  <arg name="speed_scale"     default="0.20"/>

  <node pkg="iiwa_probe_utils" type="scan_line_to_cartesian_path.py" name="scan_line_planner" output="screen">
    <param name="group_name"      value="$(arg group_name)"/>
    <param name="ee_link"         value="$(arg ee_link)"/>
    <param name="cloud_topic"     value="$(arg cloud_topic)"/>
    <param name="clicked_topic"   value="$(arg clicked_topic)"/>
    <param name="N"               value="$(arg N)"/>
    <param name="backoff"         value="$(arg backoff)"/>
    <param name="approach_offset" value="$(arg approach_offset)"/>
    <param name="eef_step"        value="$(arg eef_step)"/>
    <param name="jump_threshold"  value="$(arg jump_threshold)"/>
    <param name="speed_scale"     value="$(arg speed_scale)"/>
  </node>
</launch>
